#main-wrapper {
  height: 100vh;
}

.main-wrapper-row {
  height: 100%
}

.left-banner {
  padding-top: 1em;
  background-color: #b59fd1;
}

.left-banner-img {
  height: 10em;
  display: block;
  margin: 0 auto;
}

.left-banner-name {
  margin: 0;
  text-align: center;
}

.left-banner-profession {
  padding-top: 0.25em;
  text-align: center;
}

.left-banner-line-break {
  background-color: black;
  height: 3px;
  margin: 1em;
}

.left-banner-header {
  text-align: center;
}

.left-banner-contact {
  text-align: center;
  text-decoration: none;
}

.left-banner-contact-icon {
  width: 1em;
  height: 1em;
}

.left-banner-skills {
  text-align: center;
}

.center-content {
  padding-top: 1em;
  padding-left: 1em;
}

.center-content-statement {
  padding-top: 1em;
  padding-bottom: 2em;
}

.center-content-job {
  padding-top: 1em;
}

.center-content-job-company-date {
  font-weight: bold;
  font-style: italic;
}

.center-content-line-break {
  background-color: black;
  margin-right: 2em;
  height: 3px;
}

.text-decoration-none {
  color: black;
  text-decoration: none;
}
